<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.example.demo.admin.AdminMemberMapper">
	<select id="selectAdminMember" parameterType="java.lang.Integer" resultType="AdminMemberVo">
		SELECT * FROM tbl_admin_member WHERE a_m_no = #{no}
	</select>
	<select id="selectAllAdminMember" resultType="AdminMemberVo">
		SELECT * FROM tbl_admin_member
	</select>
</mapper>

